<header>
    <div class="Title">
        <h1> TarkyBot </h1>
    </div>

    <div class="Items">
        <nav class="Navigation">
            <ul class="MainList">
                <li class="listTypes">
                    <a routerLink="items">Items</a>
                    <ul>
                        <li *ngFor="let type of typesTab"><a class="itemName">{{type.types}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>





</header>

<router-outlet></router-outlet>
