header {
    display: flex;
    background-color: black;
    color: white;
    height: 10%;
    border-bottom: #5e533e solid 1px;
}

.Title {
    font-family: Bender;
    display: flex;
    margin: 0.5vh;
    height: auto;
    color: #9a8866;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #9a8866;
}

a:hover {
    color: #5e533e
}

.Items {
    font-size: larger;
    align-self: center;
    margin-left: 7em;
    font-weight: bold;
}