<header>
    <div class="Title">
        <h1 class="HeaderTitle"> TarkyBot </h1>
    </div>

    <div class="Dropdown_Menu">
        <nav>
            <ul>
                <li>
                    <a>Items</a>
                    <ul>
                        <li *ngFor="let type of typesTab"><a class="Dropdown_Name" routerLink="items">{{type.types}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="Dropdown_Menu">
        <nav>
            <ul>
                <li>
                    <a>Traders</a>
                    <ul>
                        <li *ngFor="let traders of tradersTab"><a class="Dropdown_Name">{{traders.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>





</header>

<router-outlet></router-outlet>