.main_container {
    background-color: black
}

h1 {
    color: white;
    font-family: Bender;
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.item_container {
    color: white;
}