.container {
    height: 600px;
}

h1 {
    color: #9a8866;
    font-size: 3em;
    text-align: center;
    margin-top: 12%;
}

p {
    color: #9a8866;
    font-size: 1.5em;
    text-align: center;
}

a {
    color: #9a8866;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #373024;
}
